<html>
<head>
<title>Interface</title>
</head>
<body>
<ul>
{% for interface in interfaces %}
<li><a href="#{{interface}}">{{interface}}</a></lu>
{% endfor %}
</ul>
<pre>{{body}}</pre>
</body>
</html>
