policy_module({{module_name}}, 1.0)

require {{ '{' }}
{% for type in types %}
    type {{ type }};
{% endfor %}
{% for class_ in sclasses %}
    class {{ class_ }} {{ '{' }} {{ classes[class_]|join(' ') }} {{ '}' }};
{% endfor %}
{{ '}' }}
{% for rule in rules %}
{{ rule }}
{% endfor %}
